*.src
*.tkn
*.tko
*.jar
!/module/*.jar
*.axs
!/src/*/*.axs
!/module/*.axs
*.axi
!/src/*/*.axi
*.tp4
!/src/*/ui/*.tp4
*.tp5
!/src/*/ui/*.tp5
*.axw
*.apw
!/AMX14.apw
/src/*/ui/img
/src/*/ui/sound
/src/*/ui/assets
*.~vsdx
*.vsdx
!/schematics/*.vsdx
*.pdf
!/schematics/*.pdf
*.doc
!/module/docs/*.doc
/module/drag-and-drop.tko
