*.src
*.tkn
*.tko
*.~vsdx
!/module/*.tko
*.jar
!/module/*.jar
*.doc
!/docs/*.doc
*.txt
!/docs/*.txt
*.axs
!/src/*/*.axs
*.axi
!/src/*/*.axi
*.tp4
!/src/*/*.tp4
*.tp5
!/src/*/*.tp5
*.axw
*.apw
!/AMX14.apw
/src/*/ui/img
/src/*/ui/sound
/src/*/ui/assets
